extends layout

block content

    h1 History
    ul
      for transaction in transactions
        if !(trnansaction = transactions[transactions.length] && transactions.length == 11)
          li
            a(href='/history/'+transaction.txid) #{transaction.category} #{Math.abs(transaction.amount)} #{transaction.address}
    
    if page > 0
      a(href="/history?page=" + page - 1)

    if transactions.length > 10
      a(href="/history?page=" + page + 1)